body{
    font-family: Helvetica, sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgb(242, 242, 242);
    padding: 1%;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar button{
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(242, 242, 242);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: rgb(228, 227, 227);
}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn{
    background-color: rgb(242, 242, 242);
    border: none;
    padding: 1%;
}

.dropdown:hover .dropbtn{
    background-color: rgb(228, 227, 227);
}

.nav-link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: rgb(228, 227, 227);
}

.main-body{
    margin: 5%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.page-title{
    text-align: center;
    letter-spacing: 1.2vw;
    font-size: 175%;
}

.page-subtitle{
    text-align: center;
    letter-spacing: 0.7vw;
    font-size: 87.5%;
}

.welcome-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    border: 1px solid black;
    border-radius: 5px;
}

.image-legend{
    font-size: 12px;
    text-align: center;
}

.page-header{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.head-article{
    display: flex;
    flex-direction: column;
    width: 78%;
}

.head-article-title{
    font-size: 150%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 2%;
    border: 2px solid black;
    height: min-content;
}

.card-image{
    align-self: center;
    margin-top: 5%;
    width: 98%;
    border: 1px solid black;
    border-radius: 15px;
}

.card-title{
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.2vw;
}

.card-text{
    margin-left: 5%;
    margin-bottom: 10%;
    text-align: left;
    font-size: 100%;
}

.link-card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
}

.link-card-title{
    text-align: center;
    font-size: 250%;
    letter-spacing: 0.6vw;
}

.link-card-body{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.link-card-section{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
}

.link-card-link{
    display: block;
    text-decoration: none;
    color: black;
    padding: 1%;
    background-color: rgb(238, 238, 238);
    margin: 0.5%;
}

.link-card-link:hover{
    background-color: rgb(217, 216, 216);
}

.empty-separator{
    height: 5vh;
}